#! /usr/bin/env bash
#
# Aliases (to be used by either bash or zsh)
#

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias today='vim `date --iso-8601`.md'

alias gimme='sudo apt-get install'
alias supercp='rsync --rsh='ssh' -av --progress --partial' # (source, dest)

alias grep="grep --color=always"
function ocr {
    convert $1 ocr_img.tiff
    tesseract ocr_img.tiff ocr_output
    rm -f ocr_img.tiff
}

function cdir {
    fn=$1
    if git rev-parse --git-dir > /dev/null 2>&1; then
        fn=${fn#[ab]/}  # Strip Git's leading `a/ or b/`
    fi
    cd `dirname "$fn"`
}

alias fn='find . -name'
alias gg='git g'

# Search all tracked files & load buffers for matching files
# Start by searching for the expression, which is assumed to be argument 1.
function vgg {
    # xargs flags:
    # -o: Reopen stdin as /dev/tty in the child process before executing vim.
    #     Prevents Vim error "Input is not from a terminal"
    #     (& stdin being messed up after exit)
    # -0: read list will NUL delimiter (handles weird filenames, spaces, special chars)
    git grep --quiet "$@" && git grep --null --name-only "$@" | xargs -o -0 vim -c "/$1"
}

# Search everything but unit tests
function gc {
    git g "$@" -- './*' ':!*test.py' ':!*.test.js' ':!**/testing/**' ':!*Test.kt'
}

# Search everything but unit tests & load buffers for matching files
# Start by searching for the expression, which is assumed to be argument 1.
function vgc {
    # xargs flags:
    # -o: Reopen stdin as /dev/tty in the child process before executing vim.
    #     Prevents Vim error "Input is not from a terminal"
    #     (& stdin being messed up after exit)
    # -0: read list will NUL delimiter (handles weird filenames, spaces, special chars)
    gc --quiet "$@" && gc --null --name-only "$@" | xargs -o -0 vim -c "/$1"
}

alias gcd='cd "$(git root)"'

# Run pip *g*lobally for special cases where we do indeed want to install outside a venv
function gpip {
    PIP_REQUIRE_VIRTUALENV="" pip "$@"
}

alias dn='dirname'

alias mux='tmux attach || tmux new'

export DROPBOX='/home/david/Dropbox'
alias a='cd "$DROPBOX/MITOC/mitoc-ansible"'
alias m='cd "$DROPBOX/MITOC/mitoc-member"'
alias o='cd "$DROPBOX/MITOC/mitoc-trips"'
