[submodule "vimfiles"]
	path = vimfiles
	url = https://github.com/DavidCain/vimfiles.git
[submodule "gitfiles"]
	path = gitfiles
	url = https://github.com/DavidCain/gitfiles.git
[submodule "diff-so-fancy"]
	path = diff-so-fancy_repo
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "diff-so-fancy_repo"]
	path = diff-so-fancy_repo
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
